.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: $font-family-base;
    > li {
      list-style: none;
      font-size: 14px;
      > a {
        padding: 10px 14px 10px 14px;
        display: inline-block;
        font-weight: bold;
        color: #60f2b6;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 0.3s ease;
        &:hover {
          color: $primary;
          text-decoration-color: #60f2b6; /* Purple color */
        }
        &:link {
          color:#60f2b6;
        }
      }
      &.active {
        > a {
          font-weight: bold;
        }
      }
    }
  }
}
